---
import type {CollectionEntry} from "astro:content"

import Feature from "./Feature.astro"

type Props = {
    features: CollectionEntry<"feature">[]
}

const { features } = Astro.props;
---

<div
  class="relative flex flex-wrap justify-center gap-x-8 gap-y-16 mx-auto w-full max-w-screen-xl px-4 pt-15 mobile:pt-20 tablet:pt-30 pb-20"
>
  {features.map(feature => <Feature item={feature} />)}
</div>