---
import type { CollectionEntry } from "astro:content";
import MainFeature from "./MainFeature.astro";

type Props = {
  main_features: CollectionEntry<"main_feature">[]
};

const { main_features } = Astro.props;
---

<div class="w-full px-10 py-10 mobile:py-30 flex flex-col gap-10">
  {main_features.map((feature) => (
    <MainFeature item={feature} />
  ))}
</div>