---
const props = Astro.props;
---
<div
{...props}
class="feature-content font-normal text-xl tablet:text-2xl leading-[1.35] [font-family:'Helvetica_Neue'] text-[#444] mt-8"
>
<p>
  <slot>
</p>
</div>